<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/applogo.png">
<link rel="Stylesheet" href="/css/styles.css">

</script>
</head>
<div class="main-content">
 {{>header}}
 {{errorMessage}}
</div>
<body>
   
    {{>footer}}
</body>
</html>