<!DOCTYPE html>

<html>
<head>
    <style> body{
        background-image: url("img/background.jpeg");
        background-position: 100%; 
    }
    </style>
    <title>About</title>
    <link rel="icon" href="/img/applogo.png">
    <link rel="Stylesheet" href="/css/styles.css">
</head>
<div class="main-content">
{{>header}}
<p>This site is created by Pooja. It uses mapbox.com and weather stack data</p>
    <img class="potrait" src="/img/bgimg.jpg">
</div>

<body>
     {{>footer}}
</body>
</html>