<!DOCTYPE html>

<html>
<head>
    <style> body{
        background-image: url("img/background.jpeg");
        background-position: 100%; 
    }
    </style>
    <title>Help</title>
    <link rel="icon" href="/img/applogo.png">
    <link rel="Stylesheet" href="/css/styles.css">
</head>
<div class="main-content">
 {{>header}}
    <p>{{HelpText}}</p>
</div>
<body>
   
    {{>footer}}
</body>
</html>